{% extends 'users/login_base.html' %}
{% load staticfiles %}

{% block login_base_title %}
    忘记密码
{% endblock login_base_title %}

<!-- =============================================================================== -->
<!-- 主体开始 -->
{% block login_base_body %}
    <div id="forget_board">
        <div class="row" style="margin-top: 20%;">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div id="forget_box">
                    <p class="m-t"></p>
                    <div>
                        <i class="glyphicon glyphicon-send" style="font-size: x-large; color: #1c2b36;"></i>
                        <span class="font-bold text-center" style="font-size: 28px; color: #1c2b36;padding-left: 10px;">忘记密码</span>
                    </div>

                    <p style="margin-top: 20px; margin-bottom: 0; font-size: 14px;">
                        输入您的邮箱, 将会发一封重置找回密码邮件到您的邮箱中！
                    </p>

                    <!-- 邮箱表单 -->
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="m-t" role="form" action="{% url 'users:forget' %}" method="post">
                                {% csrf_token %}
                                <p style="color: red">{{ msg }}</p>
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" placeholder="邮箱地址"
                                           required="">
                                </div>
                                <button type="submit" class="btn btn-black block full-width m-b" style="color: white">
                                    发送邮件
                                </button>
                                <small>记起密码? | <a href="{% url 'users:login' %}" style="color: #003366;">现在登录</a></small>
                            </form>
                        </div>
                    </div>
                    <p class="m-t"></p>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock login_base_body %}