{% extends 'users/login_base.html' %}
{% load staticfiles %}


{% block login_base_title %}
    重置密码
{% endblock login_base_title %}


{% block login_base_body %}
    <div id="forget_board">
        <div class="row" style="margin-top: 20%;">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div id="forget_box">
                    <p class="m-t"></p>
                    <div>
                        <i class="glyphicon glyphicon-send" style="font-size: x-large; color: #1c2b36;"></i>
                        <span class="font-bold text-center" style="font-size: 28px; color: #1c2b36;padding-left: 10px;">重置密码</span>
                    </div>

                    <p style="margin-top: 20px; margin-bottom: 0; font-size: 14px;">
                        请输入一个您既能够好好记住，又最好具有复杂度的密码！
                    </p>

                    <div class="row">
                        <div class="col-lg-12">
                            <form class="m-t" role="form" action="{% url 'users:modify' %}" method="post">
                                {% csrf_token %}
                                <p style="color: red">{{ msg }}</p>
                                <input type="text" hidden name="reset_code" value="{{ reset_code }}">
                                <div class="form-group">
                                    <input name="new_password" class="form-control" type="password" placeholder="新密码" required="">
                                </div>
                                <div class="form-group">
                                    <input name="renew_password" class="form-control" type="password"  placeholder="重复密码" required="">
                                </div>
                                <button type="submit" class="btn btn-black block full-width m-b" style="color: white">
                                    确认重置
                                </button>
                                <small>记起密码? | <a href="" style="color: #003366;">现在登录</a></small>
                            </form>
                        </div>
                    </div>
                    <p class="m-t"></p>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock login_base_body %}